/* css for header */
.header-logo {
  flex: 1;
}

.header-logo img {
  height: 50px;
}

li.nav-item a {
  color: #000;
}

li.nav-item {
  padding: 1px 20px;
  border-radius: 13px;
  margin: 0 10px;
}

li.nav-item.active {
  background: rgb(95,93,244);
}

li.nav-item.active a {
  color: white;
}

li.nav-item:hover {
  background: rgb(95,93,244);
}

li.nav-item:hover a {
  color: #fff;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
}

.list-group {
  font-family: 'Ubuntu', sans-serif;
}
