<div class="container-login100"
  style="background-image: url(https://lh3.googleusercontent.com/XDciTnKlXF1WO1VZmXgQBtHzlXTgBGDlKKytMzo2ojYAiJc756JeaAViqOoYyxZJX6UQM8bbx2XuQKFYIR4tf159e7ws4s5QdKnBrNDHPo9ZqrMFWlCYyON7dvxsS3DbCQHhZcBVMPZbV8nONb3dGCNDQKK3kQS5sKwzY9GjZlZfNYMv5jzsorvy5liwKjGYfiYfyOtrogLgicnY4kpY9ZTTTRS8W2wfu_I1c6xnCe26UvvtJJyiu435XL_-4_BPktgDNNkPk00J1Uam5qGV5ybO28ved-G1Be8cHnH5J9k_rbuwds4ZdDI4DQQkKYXBQVKhIqH_gqx6oYF0yy3hSwTnV_m8PIQMyqElE-DMmv8vSCJtS0YRFtQ3S4qxpN9V_x0EgnUM-uvD2moCNXOLdIvVDA9RRh38ySvLU1yxeqS2kKqZxanUz8JPdI9RbmuqPaUPXXHdoAoMLMNiEympovt9jITic6GM1fy1WDiKu4sTMjAcWtj0pNhpQKO2zh_aEvMIF7MWsjtVWwQuEJi2Si_LFCEwSO7l6Fs0yZ25lvV-Y4K8a7HjTFYMrvxwM-OSpsnBsMmJnv8astqiPcNAWd6TNiLsnLDmrIRroyd9LGJau605cI5q1ReAtgPo-xn0Cbgu1e0fbdQGB17umQd1FikxHJr3cYi7rGrT2HLCcKrrIc7BnJzNywyVC1v8tw=w1044-h692-no?authuser=0);">
  <div class="wrap-login100 col-10 col-md-6">
    <div class="justify-content-center">
      <!-- <div *ngIf="isLoading">
        <h1 class="login-form-title">Send</h1>
        <mat-spinner></mat-spinner>
      </div> -->

      <div *ngIf="!isLoading">
        <span class="login-form-title" *ngIf="userExist === true">RESET PASSWORD</span>
        <span class="login-form-title" *ngIf="userExist === false">INVALID TOKEN</span>
        <span class="login-form-title" *ngIf="done === true">PASSWORD RESET SUCCESSFULLY</span>
        <div class="form-group container-login100-form-btn" *ngIf="done === true">
          <button class="btn btn-success" routerLink='/'>Home</button>
        </div>
        <div class="form-group alert alert-danger" role="alert" *ngIf="shortPassword">
          Your password is too short!
        </div>
        <div class="form-group alert alert-danger" role="alert" *ngIf="confirmPassword === false">
          Passwords do not match!
        </div>
        <div class="form-group" *ngIf="userExist === true">
          <input
          type="password"
          [(ngModel)]="firstPassword"
          class="form-control"
          placeholder="Password"
          (focus)="editPassword()"
          (blur)="validatePassword()">
          <small *ngIf="showHelp" id="passwordHelpBlock" class="form-text">
            Your password must be at least 8 characters long.
          </small>
        </div>
        <div class="form-group" *ngIf="userExist === true">
          <input
          type="password"
          [(ngModel)]="secondPassword"
          class="form-control"
          placeholder="Password Confirmation"
          (focus)="editSecondPassword()"
          (blur)="checkPasswordMatch()">
        </div>

        <div class="form-group container-login100-form-btn" *ngIf="userExist === true">
          <button type="submit" class="btn btn-success" (click)="resetPassword()">RESET PASSWORD</button>
        </div>
        <div class="form-group container-login100-form-btn" *ngIf="userExist === true">
          <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>
