<div class="container-login100"
  style="background-image: url('');">
  <div class="wrap-login100 col-10 col-md-6">
    <div class="justify-content-center">
      <!-- <div *ngIf="isLoading">
        <h1 class="login-form-title">Send</h1>
        <mat-spinner></mat-spinner>
      </div> -->

      <div *ngIf="!isLoading">
        <span class="login-form-title" *ngIf="userExist === true">RESET PASSWORD</span>
        <span class="login-form-title" *ngIf="userExist === false">INVALID TOKEN</span>
        <div class="form-group alert alert-danger" role="alert" *ngIf="shortPassword">
          Your password is too short!
        </div>
        <div class="form-group alert alert-danger" role="alert" *ngIf="confirmPassword === false">
          Passwords do not match!
        </div>
        <div class="form-group" *ngIf="userExist === true">
          <input
          type="password"
          [(ngModel)]="firstPassword"
          class="form-control"
          placeholder="Password"
          (focus)="editPassword()"
          (blur)="checkPasswordMatch()">
          <small *ngIf="showHelp" id="passwordHelpBlock" class="form-text">
            Your password must be at least 8 characters long.
          </small>
        </div>
        <div class="form-group" *ngIf="userExist === true">
          <input
          type="password"
          [(ngModel)]="secondPassword"
          class="form-control"
          placeholder="Password Confirmation"
          (focus)="editSecondPassword()"
          (blur)="checkPasswordMatch()">
        </div>

        <div class="form-group container-login100-form-btn" *ngIf="userExist === true">
          <button type="submit" class="btn btn-success" (click)="resetPassword()">RESET PASSWORD</button>
        </div>
        <div class="form-group container-login100-form-btn" *ngIf="userExist === true">
          <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>
