<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Admin</span>
    <span class="space"></span>
    <button mat-button [routerLink]="['/admin-home']">Home</button>
    <button mat-flat-button [routerLink]="['/admin-services']">Services</button>
    <button mat-button [routerLink]="['/admin-allusers']">All Users</button>
    <button mat-button [routerLink]="['/admin-allactivities']">All Activities</button>
    <button mat-button routerLink="/home" routerLinkActive="mat-raised-button" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <h1 style="text-align: center;">
    Services
  </h1>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card style="height: max-content; min-height: 370px;">
        <mat-card-header>
          <mat-card-title>Daily Care</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <!-- <mat-radio-group>
            <mat-radio-button *ngFor="let item of dc">
              {{item}}
            </mat-radio-button>
          </mat-radio-group> -->

          <div *ngFor="let item of dailyCare">
            <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()">{{item.name}}</mat-checkbox>
          </div>
          <div class="mt-3">
            <input type="text" class="form-control" [(ngModel)]="dailyCareItem">
          </div>
          <div class="mt-3">
            <button class="btn btn-primary" (click)="addDailyCareItem()">Add New Item</button>
          </div>
          <div class="mt-3">
            <button class="btn btn-danger" (click)="removeDCItem()">Remove Selected Items</button>
          </div>
          <div class="mt-3" *ngIf="undoDC === true">
            <button class="btn btn-warning" (click)="undoDCItem()">Undo Changes</button>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card style="height: fit-content;">
        <mat-card-header>
          <mat-card-title>Special Care</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div *ngFor="let item of specialCare">
            <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()">{{item.name}}</mat-checkbox>
          </div>
          <div class="mt-3">
            <input type="text" class="form-control" [(ngModel)]="specialCareItem">
          </div>
          <div class="mt-3">
            <button class="btn btn-primary" (click)="addSpecialCareItem()">Add New Item</button>
          </div>
          <div class="mt-3">
            <button class="btn btn-danger" (click)="removeSCItem()">Remove Selected Items</button>
          </div>
          <div class="mt-3" *ngIf="undoSC === true">
            <button class="btn btn-warning" (click)="undoSCItem()">Undo Changes</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div id="center">
    <button class="btn btn-success mb-5" (click)="saveChanges()">Save Changes</button>
  </div>

</div>
