<nav _ngcontent-vuo-c3="" class="navbar navbar-expand-lg">
  <div _ngcontent-vuo-c3="" class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="header-logo">
          <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/79731930_137989890973179_6631381564599042048_n.png?_nc_cat=104&_nc_ohc=KPi8-ipnoqsAQnH6PyVV_Tdfqn0EIo9Thh2OSloW_ETyslvY78sLBCk_A&_nc_ht=scontent.fbkk12-2.fna&oh=96636c40577e051798bef5ac5c7d4404&oe=5E68D64D">
      </div>
      <ul _ngcontent-vuo-c3="" class="navbar-nav">
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/elder-home">Home <span _ngcontent-vuo-c3="" class="sr-only">(current)</span></a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/elder-profile">Profile</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item active"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/requests-status">Request Status</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/history">History</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/home">Logout</a></li>
      </ul>
  </div>
</nav>
<div class="container mt-5">
  <h1 style="text-align: center;">Status</h1>
  <!-- <div class="list-group"> -->
  <div class="list-group" *ngFor="let item of requests">
    <div href="#" class="list-group-item list-group-item-action mt-3 mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">{{item.caregiverName}}</h3>
        <h4 class="mb-1">{{item.caregiverEmail}}</h4>
        <!-- <small>days ago</small> -->
      </div>
      <p class="mb-3">From: {{item.startDate}}</p>
      <p class="mb-3">To: {{item.stopDate}}</p>
      <p class="mb-3" *ngIf="item.status !== null">Status:  {{item.status ? 'Accepted' : 'Rejected'}}</p>
      <p class="mb-3" *ngIf="item.status === false">Reason: {{item.rejectionReason}}</p>
      <p class="mb-3" *ngIf="item.status === null">Status:  Pending</p>


      <div>
      <button class="btn btn-sm" id="cancel" *ngIf="item.status === null">Cancel Request</button>
      </div>

    </div>
  </div>
</div>


