<!-- <nav _ngcontent-vuo-c3="" class="navbar navbar-expand-lg">
  <div _ngcontent-vuo-c3="" class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="header-logo">
          <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/79731930_137989890973179_6631381564599042048_n.png?_nc_cat=104&_nc_ohc=KPi8-ipnoqsAQnH6PyVV_Tdfqn0EIo9Thh2OSloW_ETyslvY78sLBCk_A&_nc_ht=scontent.fbkk12-2.fna&oh=96636c40577e051798bef5ac5c7d4404&oe=5E68D64D">
      </div>
      <ul _ngcontent-vuo-c3="" class="navbar-nav">
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/caregiver-home">Home <span _ngcontent-vuo-c3="" class="sr-only">(current)</span></a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/caregiver-profile">Profile</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/requests">Requests</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item active"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/services', email]"routerLinkActive="router-link-active">Services</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/calendar', email]"routerLinkActive="router-link-active">Schedule</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/caregiver-history', email]"routerLinkActive="router-link-active">History</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/home">Logout</a></li>
      </ul>
  </div>
</nav> -->

<app-caregiver-nav>

<div class="container mt-5">
  <h1 style="text-align: center;">
    Select Services and Prices
  </h1>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Daily Care</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div *ngFor="let item of dailyCare">
            <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()">{{item.name}}</mat-checkbox>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Special Care</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div *ngFor="let item of specialCare">
            <mat-checkbox [(ngModel)]="item.checked" (change)="getCheckboxes()">{{item.name}}</mat-checkbox>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <div> -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>Prices</mat-card-title>
            <mat-card-subtitle>Working hours: 9am to 5pm</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <mat-form-field appearance="outline" class="w100">
              <mat-label>Daily Price</mat-label>
              <input matInput placeholder="Daily Price" [(ngModel)]="dailyPrice">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100">
              <mat-label>Monthly Price</mat-label>
              <input matInput placeholder="Monthly Price" [(ngModel)]="monthlyPrice">
            </mat-form-field>

          </mat-card-content>
        </mat-card>

      <!-- </div> -->
    </mat-grid-tile>
  </mat-grid-list>
  <div id="center">
    <button class="btn btn-success" (click)="save()" data-toggle="modal" data-target="#saved">Save</button>
  </div>

  <!-- Certificate -->
  <div class="form-group">
    <div>
      <label for="">Certificate</label>
    </div>
    <div class="col-md-4 mb-3" *ngIf="certificate.value !== ''">
      <img src={{certificate.value}} alt="" style="width: 75%; height: 100%;" data-toggle="modal" data-target="#certificate">
    </div>
    <div class="col-md-4 mb-3" *ngIf="certificatePreview !== '' && certificatePreview">
      <img [src]="certificatePreview" alt="" style="width: 75%; height: 100%;" data-toggle="modal" data-target="#certificatePreview">
    </div>
    <div class="custom-file col-md-4">
      <input type="file" class="custom-file-input" (change)="onCertificatePicked($event)">
      <label class="custom-file-label" for="validatedCustomFile">Upload Image</label>
    </div>
  </div>

  <!-- Work Experience -->
  <mat-card class="mt-5 mb-5" *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>Work Experiences</mat-card-title>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
      <button class="btn btn-success" id="add" (click)="add()">Add</button>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngFor="let item of experiences, let i = index">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w100">
            <mat-label>Work Place</mat-label>
            <input matInput *ngIf="item.editing === true" [(ngModel)]="item.workplace">
            <input matInput [(ngModel)]="item.workplace" readonly *ngIf="item.editing !== true" (click)="setValue(i)">
            <mat-error *ngIf="invalidStopYear === true">Stop Year cannot be lower than start year.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="mr-5 w100" *ngIf="item.editing === true">
            <mat-label>Start Month</mat-label>
            <mat-select [(value)]="item.startMonth">
              <mat-option *ngFor="let item of months" value="{{item}}"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mr-5 w100" *ngIf="item.editing !== true" (click)="setValue(i)">
            <mat-label>Start Month</mat-label>
            <mat-select [(value)]="item.startMonth">
              <mat-option value="{{item.startMonth}}"> {{item.startMonth}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w100" *ngIf="item.editing === true">
            <mat-label>Start Year</mat-label>
            <mat-select [(value)]="item.startYear">
              <mat-option *ngFor="let item of years" value="{{item}}"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mr-5 w100" *ngIf="item.editing !== true" (click)="setValue(i)">
            <mat-label>Start Year</mat-label>
            <mat-select [(value)]="item.startYear">
              <mat-option value="{{item.startYear}}"> {{item.startYear}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="mr-5 w100" *ngIf="item.editing === true">
            <mat-label>Stop Month</mat-label>
            <mat-select [(value)]="item.stopMonth">
              <mat-option *ngFor="let item of months" value="{{item}}"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="mr-5 w100" *ngIf="item.editing !== true" (click)="setValue(i)">
            <mat-label>Stop Month</mat-label>
            <mat-select [(value)]="item.stopMonth">
              <mat-option value="{{item.stopMonth}}"> {{item.stopMonth}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w100" *ngIf="item.editing === true" style="border-color: red;">
            <mat-label *ngIf="invalidStopYear !== true">Stop Year</mat-label>
            <mat-label *ngIf="invalidStopYear === true" style="color: red;">Stop Year</mat-label>
            <mat-select [(value)]="item.stopYear">
              <mat-option *ngFor="let item of years" value="{{item}}"> {{item}} </mat-option>
            </mat-select>
            <!-- <mat-error ></mat-error> -->
            <mat-hint *ngIf="invalidStopYear === true" style="color: red;">Stop Year cannot be lower than start year.</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w100" *ngIf="item.editing !== true" (click)="setValue(i)">
            <mat-label>Stop Year</mat-label>
            <mat-select [(value)]="item.stopYear">
              <mat-option value="{{item.stopYear}}"> {{item.stopYear}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <!-- <button class="btn btn-warning mb-3" data-toggle="modal" data-target="#edit" (click)="setValue(i)">Edit</button> -->
          <!-- <button class="btn btn-warning mb-3" (click)="setValue(i)" *ngIf="item.editing === undefined || item.editing === null || item.editing === false">Edit</button> -->
          <button class="btn btn-success mb-3 col-md-2" (click)="saveValue()" *ngIf="item.editing === true">Save</button>
          <button class="btn mb-3 ml-3 col-md-2" id="cancel" (click)="cancelEdit(i)" *ngIf="item.editing === true">Cancel</button>
          <button class="btn mb-3 ml-3 col-md-2" id="delete" (click)="deleteExperience(i)" *ngIf="item.editing === true">Delete</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</app-caregiver-nav>

<!-- Modal -->
<div class="modal fade" id="saved" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Saved</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your services and prices have been saved!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" id="btn-okay" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="certificate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Your Certificate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src={{certificate.value}} alt="" style="width: 100%; height: 100%;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" id="btn-okay" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="certificatePreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Your Certificate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="certificatePreview" alt="" style="width: 100%; height: 100%;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" id="btn-okay" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
