<div class="container-login100"
  style="background-image: url('https://lh3.googleusercontent.com/_UVQAI_HnMl6_j6cLFrkJuqafUcbjxlDdzVK6UdOC_ee4XafOevh64bIEsVRiptHME563O2olxOBhoRNApq_FggludCbqMcGmo2klybdOOBrByM0akX13wdlPsRSqK_BRw-yRspOIvXtoGYnfpOx2LhrnEUJqeFlXXaSVgdtfH5YAVG_ZCNO9ERV4HcVycrP-5VgkRjKtMHiPaRbsfBRI8LNfrbIhKSJClUF5j1AtdfP97jShAY4NLW47u81NTxJVU4cPY8mxiXj_oQveL7w8B7c8y0n7GO2OhocaVAtYtoYYI79yttQajVgX_No32nCuQgJFh1xjz6NncTmbgZqF5a46f9z8QEgtoTzupnHk8_WTqY9nWbjMbdDwhwB_R0gQIl-G-R1U8wXmXCi6xDnavcEkQYmOEpAJRN0XaiJzNvttkKs9BT-XsSmnEDcGWGKg26hNU-Le_AfRnbbKLPYWtsDvca21S2tdUwNNs2EIshU97L4f-LXR49QUuvT6_yLfjxukfGptVwkxW1vK_zdOaxo1qDYSAvc7RlkwhiO5mSdtH77lVMiB_hSl1tYMAZ4Yap5jXhXtZG2cwxTUHUA_H-3MDAc4qwhmBePR7TIfpLQe7URUlvLW4AQA6u5iWCMFWmHe9XudQlcilfuGatdVoxvKDTVZWuB7YhD0NnREQu02-u2J8tv71IdSbOUWw=w1508-h943-no?authuser=0');">
  <div class="wrap-login100 col-10 col-md-6">
    <div class="justify-content-center">
      <div *ngIf="isLoading">
        <h1 class="login-form-title">Logging In</h1>
        <mat-spinner></mat-spinner>
      </div>
      <form (submit)="onLogin(loginForm)" ngForm #loginForm="ngForm" *ngIf="!isLoading">
        <span class="login-form-title">ADMIN LOGIN</span>
        <div class="form-group alert alert-danger" role="alert" *ngIf="showErrorMessage === true">
          Email or password is incorrect!
        </div>
        <div class="form-group">
          <input name="email" ngModel #emailInput="ngModel" required email type="email" class="form-control"
            placeholder="Email" id="email" (focus)="hideErrorMessage()">
        </div>
        <div class="form-group">
          <input name="password" ngModel #passwordInput="ngModel" required type="password" class="form-control"
            placeholder="Password">
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-danger" routerLink='/'>CANCEL</button>
        </div>
      </form>
    </div>
  </div>
</div>
