<div class="container-login100"
  style="background-image: url(assets/img/admin.jpg);">
  <div class="wrap-login100 col-10 col-md-6">
    <div class="justify-content-center">
      <div *ngIf="isLoading">
        <h1 class="login-form-title">Logging In</h1>
        <mat-spinner></mat-spinner>
      </div>
      <form (submit)="onLogin(loginForm)" ngForm #loginForm="ngForm" *ngIf="!isLoading">
        <span class="login-form-title">ADMIN LOGIN</span>
        <div class="form-group alert alert-danger" role="alert" *ngIf="showErrorMessage === true">
          Email or password is incorrect!
        </div>
        <div class="form-group">
          <input name="email" ngModel #emailInput="ngModel" required email type="email" class="form-control"
            placeholder="Email" id="email" (focus)="hideErrorMessage()">
        </div>
        <div class="form-group">
          <input name="password" ngModel #passwordInput="ngModel" required type="password" class="form-control"
            placeholder="Password">
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-danger" routerLink='/'>CANCEL</button>
        </div>
      </form>
    </div>
  </div>
</div>
