<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/elder-home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/elder-profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/requests-status">Request Status</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/history">History</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-5">
  <h1 style="text-align: center;">History</h1>
  <!-- <div class="list-group"> -->
  <div class="list-group" *ngFor="let item of history">
    <div href="#" class="list-group-item list-group-item-action mt-3 mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">{{item.caregiverName}}</h4>
        <!-- <small>days ago</small> -->
      </div>
      <p class="mb-3">From {{item.startDate}}</p>
      <p class="mb-3">To {{item.stopDate}}</p>

      <p *ngIf="item.rating !== null">
        <ngb-rating [(rate)]="item.rating" [readonly]="true"></ngb-rating>
      </p>
      <p *ngIf="item.review !== null">
        {{item.review}}
      </p>

      <p *ngIf="reviewed === true">
        <ngb-rating [(rate)]="rating" [readonly]="true"></ngb-rating>
      </p>
      <p *ngIf="reviewed === true">
        {{review}}
      </p>

      <div *ngIf="item.rating == null && item.review == null">

        <!-- <ngb-rating [(rate)]="currentRate"></ngb-rating> -->
        <ngb-rating #rating></ngb-rating>
        <!-- <textarea class="form-control mb-3" rows="3" [(ngModel)]="review"></textarea> -->
        <textarea class="form-control mb-3" rows="3" #review></textarea>
        <button class="btn btn-success btn-sm" (click)="saveReview(item, rating.rate, review.value)">Review</button>
      </div>

    </div>
  </div>
</div>
