<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/caregiver-home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/caregiver-profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/requests">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/services', caregiverEmail]"
        routerLinkActive="router-link-active">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/calendar', caregiverEmail]"
        routerLinkActive="router-link-active">Schedule</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav _ngcontent-vuo-c3="" class="navbar navbar-expand-lg">
  <div _ngcontent-vuo-c3="" class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="header-logo">
          <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/79731930_137989890973179_6631381564599042048_n.png?_nc_cat=104&_nc_ohc=KPi8-ipnoqsAQnH6PyVV_Tdfqn0EIo9Thh2OSloW_ETyslvY78sLBCk_A&_nc_ht=scontent.fbkk12-2.fna&oh=96636c40577e051798bef5ac5c7d4404&oe=5E68D64D">
      </div>
      <ul _ngcontent-vuo-c3="" class="navbar-nav">
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/caregiver-home">Home <span _ngcontent-vuo-c3="" class="sr-only">(current)</span></a></li>
          <li _ngcontent-vuo-c3="" class="nav-item active"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/caregiver-profile">Profile</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/requests">Requests</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/services', caregiverEmail]"routerLinkActive="router-link-active">Services</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/calendar', caregiverEmail]"routerLinkActive="router-link-active">Schedule</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/caregiver-history', caregiverEmail]"routerLinkActive="router-link-active">History</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/home">Logout</a></li>
      </ul>
  </div>
</nav>

<div class="container mt-5">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src={{imagePath}} alt="" style="height: 100%; width: 100%;">
      </div>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>Age: {{age}}, Gender: {{gender}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="lead"><b>Address: </b>{{houseNumber}} {{street}} {{subDistrict}} {{district}} {{province}} {{postalCode}}
      </p>
      <p class="lead"><b>Email: </b>{{caregiverEmail}}</p>
      <p class="lead"><b>Tel: </b>{{phoneNumber}}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  <!-- <h1 class="display-4">{{name}}</h1>
  <p class="lead"><b>Age: </b> <b>Gender: </b>{{gender}}</p> -->

  <button type="submit" class="btn btn-primary mt-5" (click)="edit()">EDIT</button>
</div>
