/* css for header */
.header-logo {
  flex: 1;
}

.header-logo img {
  height: 50px;
}

li.nav-item a {
  color: #000;
}

li.nav-item {
  padding: 1px 20px;
  border-radius: 13px;
  margin: 0 10px;
}

li.nav-item.active {
  background: rgb(95,93,244);
}

li.nav-item.active a {
  color: white;
}

li.nav-item:hover {
  background: rgb(95,93,244);
}

li.nav-item:hover a {
  color: #fff;
}

.btn-primary {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: rgb(95,93,244);
  background: linear-gradient(90deg, rgba(95,93,244,1) 0%, rgba(81,116,194,1) 59%, rgba(0,181,255,1) 100%);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-primary::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-primary:hover {
  background-color: transparent;
}
.btn-primary:hover:before {
  opacity: 1;
}

mat-spinner {
  margin: auto;
}
