<div class="container-login100"
  style="background-image: url(https://lh3.googleusercontent.com/A7pJgCYYheM39VtRfiDs0nKH3edzq5mPzCTFIalTVVryR0Z11vEAbmG9QqABd1p3tWyFnLsC8JF5vTS4aLqNFQ8-2OUV3hMNceztQJkmrOwbvmdI4kwi6J8Tk9vRj9CMGGbNqhomdGJdcn4ewfbqnoWBGsKMsM_3UVGZut_0IxOOPe__rogrfFmOKR300a8Gh6IT9kNWGEgiFmctpnyvyQq9BN0Ail04_MjvGVTr2cA00W19ZZRnoD4ynWKPROzdjLzzNgYLmRkedApVMlg9sY1qKNjkd5ylHPmF7OOGoRKGSUMNcgMKaa-FnmBYGQrDuY_qw_bv62D2nSm7GnRDleYaGdGY1R8MQCA4WhhCb4CZepeTqY2ZbI5txpdd6yZSH97I0cG0fc0rW3rRRdvy4ItrYqw2L0ig-LuuA9jr4aDMgsewKoEFshLutED9SP64XIuUvEvhpXcAwddmqyplrO6qLMRhcCTNpG7STphbOrboutir-mFbUPeWWEN8pdIvPG2sw1Ioxjsfa57gTpffJaBOZ_ay-RgRjDnxVwHz3JsKZHwaoK0of-pyPWHR_U3auMjvc7isYADzGt3QqpCI-35hoF7TV5jV01xslyq5m0CpBDhd7fS4tjqyPfOzTw-9ysfJVd3BpDXowoB8k92s3t8PrSYjCIvq901jBaip9UuxDiikOrv-bQLmWnpVow=w1046-h692-no?authuser=0);">
  <div class="wrap-login100">
    <div class="justify-content-center">
      <div *ngIf="isLoading">
        <h1 class="login-form-title">Logging In</h1>
        <mat-spinner></mat-spinner>
      </div>
      <form (submit)="onLogin(loginForm)" ngForm #loginForm="ngForm" *ngIf="!isLoading">
        <span class="login-form-title">CAREGIVER LOGIN</span>
        <div class="form-group alert alert-danger" role="alert" *ngIf="showErrorMessage === true">
          Email or password is incorrect!
        </div>
        <div class="form-group">
          <input name="email" ngModel #emailInput="ngModel" required email type="email" class="form-control"
            placeholder="Email" id="email">
        </div>
        <div class="form-group">
          <input name="password" ngModel #passwordInput="ngModel" required type="password" class="form-control"
            placeholder="Password">
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-success">LOGIN</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <a href="" id="forgot-password" routerLink="/forgot-password">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
