<div class="container-login100" style="background-image: url('https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.0-9/80735097_137989797639855_2053089385049489408_o.jpg?_nc_cat=108&_nc_ohc=s50K_FW3P5wAQn5duPovDfFNTfsnwSahZ86Yn9XnTdD6fU4SxV94GUOeg&_nc_ht=scontent.fbkk13-1.fna&oh=050ab8066804758f2a48d3c6d1d212cd&oe=5E74905D');">
  <div class="wrap-login100">
      <!-- <div class="row"> -->
        <div class="justify-content-center">
            <form (submit)="onRegisterElder(postForm)" #postForm="ngForm">
              <span class="login-form-title">ELDER REGISTER</span>
              <div class="form-group alert alert-danger" role="alert" *ngIf="userExisted === true">
                This user already existed!
              </div>
              <div class="form-group">
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                  name="name"
                  ngModel
                  #name="ngModel"
                  >
                </div>
              <div class="form-group">
                <input
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Email"
                name="email"
                ngModel
                #email="ngModel"
                >
              </div>
              <div class="form-group alert alert-danger" role="alert" *ngIf="confirmPassword === false">
                Password does not match!
              </div>
              <div class="form-group">
                <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                ngModel
                #password="ngModel"
                (click)="close()"
                >
              </div>
              <div class="form-group">
                <input
                type="password"
                class="form-control"
                placeholder="Password Confirmation"
                name="passwordConfirmation"
                ngModel
                #passwordConfirmation="ngModel"
                (click)="close()"
                >
              </div>
              <div class="form-group container-login100-form-btn">
                <button type="submit" class="btn btn-success">REGISTER</button>
              </div>
              <div class="form-group container-login100-form-btn">
                <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
              </div>
            </form>
          </div>

        <!-- </div> -->
  </div>
</div>

