<div class="container-login100" style="background-image: url(https://lh3.googleusercontent.com/BQxtjYhy7KR9z5eCpQNfpMtnuEAvtdXjcJQKQeh0NwMvFYecizlhdnTcBVoqGXVeodLAcjs8wjsNqMPnE6-Q7RsdbH0tDMD0-UmWodrFfvZsDpeohCij7K9Rvd87-Yyenl-LQhDIuAMIoqVZo_VmxIxd1K-G6mZ7hinGwvJAqfKg0rkUq1KpbyBQ784DeBaZQS0GZ2fJOp7h1BprE969lMKajJsc6ajuQt85eIu_pVJkemqfIe_f6d0Tg5puTJWv5OQ6yf1Bo0tBNvItlX9AlvNsEOLTN87JlOvoYD8SvEjPkQU3jhP7EyerOi2XjAHYFBoZ6eDaLmFtvOjoutH3-F2om4UPdjuZK9MhKAZ707n9hUWY3WGjiSCg8bwi4zeWTDTB_YJTD5DjNVo_aO5NQgRg2D1kskYg7tguSva0HfWfXMZc9ehb0Yh4I1m9niCs8b0aZNxd99qJI4DbrhunVESqeGqaVN6MLZxMlASqkgIwcc8SIgs_jtCzZIJQHUFXbKW54-bx7UkPkiSVGcpYASXNpNa9pzeYX_5OZO0s3Skp-MVOE3gbhFLdanz3De5F_AdkyERL5bWesikl0GpPMgT1YmKiE1WoALzm1qLjw9WYTTK4eRpUMEZnE44UeODzkJRJJiV5Z2uHASn9bDXLdpRib8-0rugZ1i6O-v169Zcw58JX1i5wbUg-pybsdg=w471-h314-no?authuser=0);">
  <div class="wrap-login100">
      <!-- <div class="row"> -->
        <div class="justify-content-center">
          <div *ngIf="creating === true || loggingIn === true">
            <h1 class="login-form-title" *ngIf="creating === true">Creating User</h1>
            <h1 class="login-form-title" *ngIf="loggingIn === true">Logging In</h1>
            <mat-spinner></mat-spinner>
          </div>
            <form (submit)="onRegisterElder(postForm)" #postForm="ngForm" *ngIf="creating !== true && loggingIn !== true">
              <span class="login-form-title">ELDER REGISTER</span>
              <div class="form-group alert alert-danger" role="alert" *ngIf="userExisted === true">
                This user already existed!
              </div>
              <div class="form-group">
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                  name="name"
                  ngModel
                  #name="ngModel"
                  >
                </div>
              <div class="form-group">
                <input
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Email"
                name="email"
                ngModel
                #email="ngModel"
                (focus)="resetValidation()"
                >
              </div>
              <div class="form-group alert alert-danger" role="alert" *ngIf="shortPassword">
                Your password is too short!
              </div>
              <div class="form-group alert alert-danger" role="alert" *ngIf="confirmPassword === false">
                Passwords do not match!
              </div>
              <div class="form-group">
                <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                [(ngModel)]="firstPassword"
                #password="ngModel"
                (focus)="editPassword()"
                (blur)="validatePassword()"
                >
                <small *ngIf="showHelp" id="passwordHelpBlock" class="form-text">
                  Your password must be at least 8 characters long.
                </small>
              </div>
              <div class="form-group">
                <input
                type="password"
                class="form-control"
                placeholder="Password Confirmation"
                name="passwordConfirmation"
                #passwordConfirmation="ngModel"
                [(ngModel)]="secondPassword"
                (focus)="editSecondPassword()"
                (blur)="checkPasswordMatch()"
                >
              </div>
              <div class="form-group container-login100-form-btn">
                <button type="submit" class="btn btn-success">REGISTER</button>
              </div>
              <div class="form-group container-login100-form-btn">
                <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
              </div>
            </form>
          </div>

        <!-- </div> -->
  </div>
</div>

