/* .mat-success {
  background-color:rgb(2, 216, 66);
  color: #fff;
} */
.nav {
  margin-left: 10px;
}

.mat-button:hover {
  background-color: rgb(2, 216, 66);
  color: white;
}

.mat-raised-button {
  background-color: rgb(2, 216, 66);
  color: #fff;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}
