<div class="container">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w100" *ngIf="!readonly">
          <mat-label>Work Place</mat-label>
          <input matInput [(ngModel)]="text">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w100" *ngIf="readonly">
          <mat-label>Work Place</mat-label>
          <input matInput [(ngModel)]="text" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="mr-5 w100">
          <mat-label>Start Month</mat-label>
          <mat-select >
            <mat-option *ngFor="let item of months" value="{{item}}"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Start Year</mat-label>
          <mat-select >
            <mat-option *ngFor="let item of years" value="{{item}}"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="mr-5 w100">
          <mat-label>Stop Month</mat-label>
          <mat-select >
            <mat-option *ngFor="let item of months" value="{{item}}"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="w100">
          <mat-label>Stop Year</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of years" value="{{item}}"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="btn btn-success" (click)="readOnly()">Save</button>
    </div>
  </div>
</div>
