<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Admin</span>
    <span class="space"></span>
    <button mat-button [routerLink]="['/admin']">Home</button>
    <button mat-button [routerLink]="['/admin-services']">Services</button>
    <button mat-button [routerLink]="['/admin-allusers']">All Users</button>
    <button mat-flat-button [routerLink]="['/admin-allactivities']">All Activities</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <h1 class="new-font text-center mb-5">All Activities</h1>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="mb-3" *ngFor="let item of history">
    <mat-card *ngIf="!isLoading">
      <mat-card-title class="new-font">
        <b>Elder: {{item.elderName}}</b>
        <br>
        <b>Caregiver: {{item.caregiverName}}</b>
      </mat-card-title>
      <mat-card-content>
        <h5 class="new-font">
        From: {{item.startDate}} To: {{item.stopDate}}
        </h5>
      </mat-card-content>
    </mat-card>
  </div>
</div>
