<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Admin</span>
    <span class="space"></span>
    <button mat-button [routerLink]="['/admin']">Home</button>
    <button mat-button [routerLink]="['/admin-services']">Services</button>
    <button mat-button [routerLink]="['/admin-allusers']">Approved Users</button>
    <button mat-flat-button [routerLink]="['/admin-allactivities']">All Activities</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <h1 class="new-font text-center mb-5">All Activities</h1>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="list-group" *ngFor="let item of history">
    <div href="#" class="list-group-item list-group-item-action mt-3 mb-3" *ngIf="item.daysAgo > 0">
      <div class="row">
        <div class="col-6">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">Caregiver: {{item.caregiverName}}</h4>
          </div>
          <p class="mt-3">From {{item.startDate}} To {{item.stopDate}}</p>
          <p class="mb-3">Daily Care: {{item.selectedServices.dailyCare}}</p>
          <p class="mb-3">Special Care: {{item.selectedServices.specialCare}}</p>
        </div>
        <div class="col-6">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">Elder: {{item.elderName}}</h4>
            <small *ngIf="item.daysAgo < 30">{{item.daysAgo}} days ago</small>
            <small *ngIf="item.daysAgo >= 30">{{item.monthsAgo}} ago</small>
          </div>
          <p class="mt-3">Price: {{item.selectedDP}} daily or {{item.selectedMP}} monthly</p>
          <p class="mb-3" *ngIf="item.totalDays === 1">Total Days: {{item.totalDays}} Day </p>
          <p class="mb-3" *ngIf="item.totalDays > 1">Total Days: {{item.totalDays}} Days </p>
          <p class="mb-3">Total Income: {{item.totalPrice}} Baht</p>
          <div *ngIf="item.rating !== null && item.review !== null">
            <p>
              <span>Rating: </span><ngb-rating [(rate)]="item.rating" [readonly]="true"></ngb-rating>
            </p>
            <p>
              <span>Review: </span>{{item.review}}
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
