<div class="container-login100" style="background-image: url(assets/img/cg_signup.png);">
  <div class="wrap-login100">
      <!-- <div class="row"> -->
        <div class="justify-content-center">
          <div *ngIf="creating === true || loggingIn === true">
            <h1 class="login-form-title" *ngIf="creating === true">Creating User</h1>
            <h1 class="login-form-title" *ngIf="loggingIn === true">Logging In</h1>
            <mat-spinner></mat-spinner>
          </div>
            <form (submit)="onRegisterCaregiver(postForm)" #postForm="ngForm" *ngIf="creating !== true && loggingIn !== true">
              <span class="login-form-title">CAREGIVER REGISTER</span>
              <div class="form-group alert alert-danger" role="alert" *ngIf="userExisted === true">
                This user already existed!
              </div>
              <div class="form-group">
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                  name="name"
                  ngModel
                  #name="ngModel"
                  >
                </div>
              <div class="form-group">
                <input
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Email"
                name="email"
                ngModel
                #email="ngModel"
                (focus)="resetValidation()"
                >
              </div>
              <div class="form-group alert alert-danger" role="alert" *ngIf="shortPassword">
                Your password is too short!
              </div>
              <div class="form-group alert alert-danger" role="alert" *ngIf="confirmPassword === false">
                Passwords do not match!
              </div>
              <div class="form-group">
                <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                [(ngModel)]="firstPassword"
                #password="ngModel"
                (focus)="editPassword()"
                (blur)="validatePassword()"
                >
                <small *ngIf="showHelp" id="passwordHelpBlock" class="form-text">
                  Your password must be at least 8 characters long.
                </small>
              </div>
              <div class="form-group">
                <input
                type="password"
                class="form-control"
                placeholder="Password Confirmation"
                name="passwordConfirmation"
                #passwordConfirmation="ngModel"
                [(ngModel)]="secondPassword"
                (focus)="editSecondPassword()"
                (blur)="checkPasswordMatch()"
                >
              </div>
              <div class="form-group container-login100-form-btn">
                <button type="submit" class="btn btn-success">REGISTER</button>
              </div>
              <div class="form-group container-login100-form-btn">
                <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
              </div>
            </form>
          </div>
        <!-- </div> -->
  </div>
</div>


