<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [ngClass]="{hidden:  (isHandset$ | async) === false}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-list-item class="mt-3 mb-3">
        <img src="{{image}}" alt="" style="margin-left: 10px; width: 56px; height: 56px; border-radius: 50%;"
          [matMenuTriggerFor]="menu">
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/caregiver-home" routerLinkActive="mat-raised-button">Home</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/caregiver-profile" routerLinkActive="mat-raised-button">Profile</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/requests" routerLinkActive="mat-raised-button">Requests</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/services" routerLinkActive="mat-raised-button">Services</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/calendar" routerLinkActive="mat-raised-button">Schedule</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/caregiver-history" routerLinkActive="mat-raised-button">History</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/home" routerLinkActive="mat-raised-button" (click)="logout()">Logout</button>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background: white; color: black; padding-left: 0;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img
        src="https://lh3.googleusercontent.com/sgdC9OOoMFHHEXvQVyzQ0BUqt5u7WsagMOnQ0iRMhG3X50Rl-KEwXCU4vm89RFmx1B_jgRxkA_d3fcddXGsP_sV2xySX34xHnAWCwnRkFbRVD8ZpKmSTTvKjopRkquaVnfyWQeDdOZ0mfIvsHBIsSm7v19yQHa3wjLzzB4CmEC62DLHgr3T86_Zfh-wgHJ5HqmWPQzRYr3nZXqOp2-fuGDyrQ0_gT_D8kvhyAbpW69p8DjyK4X2pIVTAL0JHuNiIPgWz6iyYPUR_eG10TiQF2-mmih1EUK1Kbt2tFuaBlD-AwznSO_vyuOvMSC4TIXeZGiAWy7a7jvSnk2PNO8xtv6RU8r4dJFFWc-jgFlRBMNp12DrKsMTcr8QeLfUeLaC9BaRfwzVdrT5AjnHG5G4CMJ-ADJPcFbKem76ys7eKN9MUYUJqbTfsWmFtiITdGuGVPzTRx3TBn7tzOXCpFxqfsYzDS1ZRZCfqIM84kBuch0Eo7CWiMjqVnyURSmJO-EIMft7T9C6ZGmKmc-Lf785jswB4NgiAoHXu9bStrJH_J90-jIv8k8uByPXBSzomoGz18JYdlFz4rlLXaY2CSDJkaeiLBAib_5m4YVdj7hRrcXmGxDq8GeM38Wzjk1wfcxQEMazNWDYtVsoL8f9I-HpwSyTklvwEIZC5YnkjfsrtElVMT7CxaJNrdVNPWM4mbQ=w488-h92-no?authuser=0"
        style="height: 100%;">
      <span class="spacer"></span>
      <span class="spacer"></span>
      <button mat-button routerLink="/caregiver-home" routerLinkActive="mat-raised-button"
        [ngClass]="{hidden:  (isHandset$ | async) === true}" class="nav">Home</button>
      <button mat-button routerLink="/requests" routerLinkActive="mat-raised-button"
        [ngClass]="{hidden:  (isHandset$ | async) === true}" class="nav">Requests</button>
      <button mat-button routerLink="/services" routerLinkActive="mat-raised-button"
        [ngClass]="{hidden:  (isHandset$ | async) === true}" class="nav">Services</button>
      <button mat-button routerLink="/calendar" routerLinkActive="mat-raised-button"
        [ngClass]="{hidden:  (isHandset$ | async) === true}" class="nav">Schedule</button>
      <button mat-button routerLink="/caregiver-history" routerLinkActive="mat-raised-button"
        [ngClass]="{hidden:  (isHandset$ | async) === true}" class="nav">History</button>
      <img src="{{image}}" alt="" style="margin-left: 10px; width: 50px; height: 50px; border-radius: 50%;"
        [ngClass]="{hidden:  (isHandset$ | async) === true}" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/caregiver-profile">Profile</button>
        <button mat-menu-item routerLink="/home" (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
