<div class="container form-group">

  <h1>Information</h1>

  <!-- <form (submit)="onSaveElder(infoForm)" #infoForm="ngForm" class="col-md-12"> -->
  <form (submit)="onSaveElder()" class="col-md-12" enctype="multipart/form-data">

    <div class="form-group">
      <div>
        <label for="">Profile Picture</label>
      </div>
      <div class="col-md-4 mb-3" *ngIf="image.value !== null">
        <img src={{image.value}} alt="" style="width: 75%; height: 100%;">
      </div>
      <div class="col-md-4 mb-3" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" alt="" style="width: 75%; height: 100%;">
      </div>
      <div class="custom-file col-md-4">
        <input type="file" class="custom-file-input" (change)="onImagePicked($event)">
        <label class="custom-file-label" for="validatedCustomFile">Upload Image</label>
      </div>
    </div>



    <label for="">Basic Information</label>

    <div class="alert alert-danger" role="alert" *ngIf="validForm === false">
      This is a danger alert—check it out!
    </div>

    <div class="form-group form-row">
      <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Name" [formControl]="name">
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Phone Number" [formControl]="phoneNumber">
      </div>
    </div>

    <div class="form-group form-row">
      <!-- <div class="col-md-4">
        <input type="text" class="form-control" id="age" placeholder="Birthdate" [formControl]="birthDate"
        >
      </div> -->
      <div class="form-group col-md-4">
        <div class="input-group">
          <input class="form-control" placeholder="Birthdate" name="dp" ngbDatepicker #d="ngbDatepicker"
            [formControl]="birthDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i></button>
            <!-- <button type="button" (click)="show()" >btn</button> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <select id="inputState" class="form-control" [formControl]="gender">
          <option value="" selected disabled>Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <!-- <div class="custom-file col-md-4">
        <input type="file" class="custom-file-input" (change)="onImagePicked($event)">
        <label class="custom-file-label" for="validatedCustomFile">Upload Image</label>
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" alt="">
      </div> -->
      <!-- <button type="button" (click)="upload()" >btn</button> -->
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" placeholder="House Number" [formControl]="houseNumber">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Street" [formControl]="street">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="District" [formControl]="district">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Sub-district" [formControl]="subDistrict">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Province" [formControl]="province">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Postal Code" [formControl]="postalCode">
      </div>
    </div>
    <div id="center">
      <button type="submit" class="btn btn-success">Save</button>
      <button (click)="goBack()" id="cancel" class="btn">Cancel</button>
    </div>

  </form>
</div>

<div class="container form-group">

  <h1>Information</h1>

  <!-- <form (submit)="onSaveElder(infoForm)" #infoForm="ngForm" class="col-md-12"> -->
  <form (submit)="onSaveElder()" class="col-md-12" enctype="multipart/form-data">

    <div class="form-group">
      <div>
        <label for="">Profile Picture</label>
      </div>
      <div class="col-md-4 mb-3" *ngIf="image.value !== null">
        <img src={{image.value}} alt="" style="width: 75%; height: 100%;">
      </div>
      <div class="col-md-4 mb-3" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" alt="" style="width: 75%; height: 100%;">
      </div>
      <div class="custom-file col-md-4">
        <input type="file" class="custom-file-input" (change)="onImagePicked($event)">
        <label class="custom-file-label" for="validatedCustomFile">Upload Image</label>
      </div>
    </div>



    <label for="">Basic Information</label>

    <div class="alert alert-danger" role="alert" *ngIf="validForm === false">
      This is a danger alert—check it out!
    </div>

    <div class="form-group form-row">
      <div class="col-md-12">
        <!-- <input type="text" class="form-control" placeholder="Name" [formControl]="name"> -->
        <mat-form-field appearance="outline" class="mr-5">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [formControl]="name">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-md-12">
        <!-- <input type="text" class="form-control" placeholder="Phone Number" [formControl]="phoneNumber"> -->
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" [formControl]="phoneNumber">
        </mat-form-field>
      </div>
    </div>

    <div class="form-group form-row">
      <!-- <div class="col-md-4">
        <input type="text" class="form-control" id="age" placeholder="Birthdate" [formControl]="birthDate"
        >
      </div> -->
      <div class="form-group col-md-4">
        <div class="input-group">
          <!-- <input class="form-control" placeholder="Birthdate"
                 name="dp" ngbDatepicker #d="ngbDatepicker" [formControl]="birthDate"> -->
          <mat-form-field appearance="outline">
              <mat-label>Birthdate</mat-label>
              <input matInput [matDatepicker]="dp3" [formControl]="birthDate" readonly>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <select id="inputState" class="form-control" [formControl]="gender">
          <option value="" selected disabled>Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select> -->
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select [formControl]="gender">
            <!-- <mat-option value="">Option</mat-option> -->
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div class="custom-file col-md-4">
        <input type="file" class="custom-file-input" (change)="onImagePicked($event)">
        <label class="custom-file-label" for="validatedCustomFile">Upload Image</label>
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" alt="">
      </div> -->
      <!-- <button type="button" (click)="upload()" >btn</button> -->
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <br>
      <!-- <input type="text" class="form-control" placeholder="House Number" [formControl]="houseNumber"> -->
      <mat-form-field appearance="outline">
        <mat-label>House Number</mat-label>
        <input matInput placeholder="House Number" [formControl]="houseNumber">
      </mat-form-field>
    </div>
    <div class="form-group">
      <!-- <input type="text" class="form-control" placeholder="Street" [formControl]="street"> -->
      <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Street" [formControl]="street">
      </mat-form-field>
    </div>
    <div class="form-group">
      <!-- <input type="text" class="form-control" placeholder="District" [formControl]="district"> -->
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>District</mat-label>
        <input matInput placeholder="District" [formControl]="district">
      </mat-form-field>
    </div>
    <div class="form-group">
      <!-- <input type="text" class="form-control" placeholder="Sub-district" [formControl]="subDistrict"> -->
      <mat-form-field appearance="outline">
        <mat-label>Sub-District</mat-label>
        <input matInput placeholder="Sub-District" [formControl]="subDistrict">
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <!-- <input type="text" class="form-control" placeholder="Province" [formControl]="province"> -->
        <mat-form-field appearance="outline">
          <mat-label>Province</mat-label>
          <input matInput placeholder="Province" [formControl]="province">
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <!-- <input type="text" class="form-control" placeholder="Postal Code" [formControl]="postalCode"> -->
        <mat-form-field appearance="outline">
          <mat-label>Postal Code</mat-label>
          <input matInput placeholder="Postal Code" [formControl]="postalCode">
        </mat-form-field>
      </div>
    </div>
    <div id="center">
      <button type="submit" class="btn btn-success">Save</button>
      <button (click)="goBack()" id="cancel" class="btn">Cancel</button>
    </div>

<!-- New layout -->
    <div class="form-group form-row">
      <div class="col-md-12">
        <!-- <input type="text" class="form-control" placeholder="Name" [formControl]="name"> -->
        <mat-form-field appearance="outline" class="mr-5">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [formControl]="name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-5">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" [formControl]="phoneNumber">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="mr-5 date-form">
          <mat-label>Birthdate</mat-label>
          <input matInput [matDatepicker]="bd" [formControl]="birthDate" readonly>
          <mat-datepicker-toggle #date matSuffix [for]="bd"></mat-datepicker-toggle>
          <mat-datepicker #bd disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-5">
          <mat-label>Gender</mat-label>
          <mat-select [formControl]="gender">
            <!-- <mat-option value="">Option</mat-option> -->
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <!-- <input type="text" class="form-control" placeholder="District" [formControl]="district"> -->
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>House Number</mat-label>
        <input matInput placeholder="House Number" [formControl]="houseNumber">
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>Street Number</mat-label>
        <input matInput placeholder="Street Number" [formControl]="street">
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>District</mat-label>
        <input matInput placeholder="District" [formControl]="district">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>Sub-District</mat-label>
        <input matInput placeholder="Sub-District" [formControl]="subDistrict">
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>Province</mat-label>
        <input matInput placeholder="Province" [formControl]="province">
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>Postal Code</mat-label>
        <input matInput placeholder="Postal Code" [formControl]="postalCode">
      </mat-form-field>
    </div>

  </form>
</div>


