<div class="container">
  <h1 class="display-4">John</h1>
  <p class="lead"><b>Age: </b>35 <b>Gender: </b>Male</p>
  <p class="lead"><b>Address: </b>39 road 6 Bang Kaeo, Bang Phli District, Samut Prakan 10540 </p>
  <p class="lead"><b>Email: </b>info@apple.com</p>
  <p class="lead"><b>Tel: </b>1-800-676-2775</p>
  <p class="lead"><b>Qualification:</b></p>
  <p class="lead"><b>Working Experience:</b></p>
  <p class="lead"><b>Services:</b></p>
  <button type="submit" class="btn btn-success">EDIT</button>
  <button class="btn btn-primary btn-large" [routerLink]="['/edit']"
  routerLinkActive="router-link-active">Edit</button>

  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Daily Care</th>
        <th scope="col">Special Care</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bathroom Assistance</td>
        <td>Rehabilitation</td>
      </tr>
      <tr>
        <td>Dressing Assitance</td>
        <td>Medicine(Injection)</td>
      </tr>
      <tr>
        <td>Meals</td>
      </tr>
      <tr>
        <td>Joyful Companionship</td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table> -->

  <!-- <div class="text-center">
    <div class="checkbox">
      <label>
        <input type="checkbox"> Request Interview
      </label>
    </div>
    <button type="button" class="btn btn-success">REQUEST</button>
  </div> -->

</div>
