<div class="container-login100"
  style="background-image: url(https://lh3.googleusercontent.com/XDciTnKlXF1WO1VZmXgQBtHzlXTgBGDlKKytMzo2ojYAiJc756JeaAViqOoYyxZJX6UQM8bbx2XuQKFYIR4tf159e7ws4s5QdKnBrNDHPo9ZqrMFWlCYyON7dvxsS3DbCQHhZcBVMPZbV8nONb3dGCNDQKK3kQS5sKwzY9GjZlZfNYMv5jzsorvy5liwKjGYfiYfyOtrogLgicnY4kpY9ZTTTRS8W2wfu_I1c6xnCe26UvvtJJyiu435XL_-4_BPktgDNNkPk00J1Uam5qGV5ybO28ved-G1Be8cHnH5J9k_rbuwds4ZdDI4DQQkKYXBQVKhIqH_gqx6oYF0yy3hSwTnV_m8PIQMyqElE-DMmv8vSCJtS0YRFtQ3S4qxpN9V_x0EgnUM-uvD2moCNXOLdIvVDA9RRh38ySvLU1yxeqS2kKqZxanUz8JPdI9RbmuqPaUPXXHdoAoMLMNiEympovt9jITic6GM1fy1WDiKu4sTMjAcWtj0pNhpQKO2zh_aEvMIF7MWsjtVWwQuEJi2Si_LFCEwSO7l6Fs0yZ25lvV-Y4K8a7HjTFYMrvxwM-OSpsnBsMmJnv8astqiPcNAWd6TNiLsnLDmrIRroyd9LGJau605cI5q1ReAtgPo-xn0Cbgu1e0fbdQGB17umQd1FikxHJr3cYi7rGrT2HLCcKrrIc7BnJzNywyVC1v8tw=w1044-h692-no?authuser=0);">
  <div class="wrap-login100 col-10 col-md-6">
    <div class="justify-content-center">
      <!-- <div *ngIf="isLoading">
        <h1 class="login-form-title">Send</h1>
        <mat-spinner></mat-spinner>
      </div> -->
      <span *ngIf="sent === true" class="login-form-title">EMAIL SENT</span>
      <h5 *ngIf="sent === true">Please check your email for a button to reset your password.</h5>
      <div *ngIf="sent === false">
        <span class="login-form-title">RESET PASSWORD</span>
        <h5>Please enter your email below.</h5>
        <div class="form-group">
          <input [(ngModel)]="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-success" (click)="sendEmail()">SEND</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>

