<div class="container-login100"
  style="background-image: url('');">
  <div class="wrap-login100 col-10 col-md-6">
    <div class="justify-content-center">
      <!-- <div *ngIf="isLoading">
        <h1 class="login-form-title">Send</h1>
        <mat-spinner></mat-spinner>
      </div> -->
      <div *ngIf="!isLoading">
        <span class="login-form-title">RESET PASSWORD</span>
        <div class="form-group">
          <input [(ngModel)]="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-success" (click)="sendEmail()">SEND</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>

