/* css for header */
.header-logo {
  flex: 1;
}

.header-logo img {
  height: 50px;
}

li.nav-item a {
  color: #000;
}

li.nav-item {
  padding: 1px 20px;
  border-radius: 13px;
  margin: 0 10px;
}

li.nav-item.active {
  background: rgb(2, 216, 66);
}

li.nav-item.active a {
  color: white;
}

li.nav-item:hover {
  background: rgb(2, 216, 66);
}

li.nav-item:hover a {
  color: #fff;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.new-font {
  font-family: 'Ubuntu', sans-serif;
}

.example-card {
  max-width: 75%;
}

.align-center{
  display: flex;
  justify-content: center;
  align-items: center;

}

.example-header-image {
  /* background-image: url('https://i.pinimg.com/originals/13/bd/da/13bdda2a13d3ff3ee037d761e1419112.jpg'); */
  background-size: cover;
  margin-right: 10px;
  align-self: left;
}

.container {
  padding-top: 10px;
}


.btn-success {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  padding: 0 20px;
  height: 35px;
  border-radius: 21px;
  background: -webkit-linear-gradient(left, #28a745, #389b64, #97f7c2);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-success::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-success:hover {
  background-color: transparent;
}
.btn-success:hover:before {
  opacity: 1;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

#cancel {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  color: #fff;
  background-color: #555555;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 35px;
  border-radius: 21px;
}
#cancel:hover {
  background-color: red;
}

mat-spinner {
  margin: auto;
}

.mat-spinner ::ng-deep circle {
  stroke: rgb(5, 190, 61);
}

.modal-backdrop {
  /* bug fix - no overlay */
  display: none;
}

