/* css for header */
.header-logo {
  flex: 1;
}

.header-logo img {
  height: 50px;
}

li.nav-item a {
  color: #000;
}

li.nav-item {
  padding: 1px 20px;
  border-radius: 13px;
  margin: 0 10px;
}

li.nav-item.active {
  background: rgb(2, 216, 66);
}

li.nav-item.active a {
  color: white;
}

li.nav-item:hover {
  background: rgb(2, 216, 66);
}

li.nav-item:hover a {
  color: #fff;
}

h1, p {
  font-family: 'Ubuntu', sans-serif;
}


.example-header-image {
  /* background-image: url('https://media.istockphoto.com/photos/portrait-of-a-doctor-picture-id92347250?k=6&m=92347250&s=612x612&w=0&h=xEfKxSuZVFkrdM2uPORSRH-67737aR1ubaDJRQYvCNk='); */
  background-size: cover;
}

.btn-success {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0 20px;
  min-width: 130px;
  height: 35px;
  border-radius: 21px;
  background: -webkit-linear-gradient(left, #28a745, #389b64, #97f7c2);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-success::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-success:hover {
  background-color: transparent;
}
.btn-success:hover:before {
  opacity: 1;
}

mat-spinner {
  margin: auto;
}

