<div class="container text-center pt-5">
  <h1>Select Avaible Date Range</h1>
  <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
  </ngb-datepicker>

  <ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>

<br>

  <!-- <pre>From: {{ fromDate | json }}</pre>
  <pre>To: {{ toDate | json }} </pre> -->
  <button class="btn btn-success mb-5 mt-5" (click)="save()">Add Date</button>
</div>

<div class="container" *ngFor="let item of availabilityString; let i = index">
  <div class="card mb-3 mx-auto" style="width: 18rem;">
      <div class="card-body" *ngIf="item !== null">
      <h5 class="card-title">No. {{i+1}}</h5>
      <p class="card-text">
        Start Date: <b>{{item.startDate}}</b>
        <br>
        Stop Date: <b>{{item.stopDate}}</b>
      </p>
      <button class="btn" id="cancel" (click)="remove(i)">Remove</button>
    </div>
    <div class="card-body" *ngIf="item === null">
      <h5 class="card-title">No. {{i+1}} Deleted</h5>
    </div>
  </div>
</div>

