<nav _ngcontent-vuo-c3="" class="navbar navbar-expand-lg">
  <div _ngcontent-vuo-c3="" class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="header-logo">
          <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/79731930_137989890973179_6631381564599042048_n.png?_nc_cat=104&_nc_ohc=KPi8-ipnoqsAQnH6PyVV_Tdfqn0EIo9Thh2OSloW_ETyslvY78sLBCk_A&_nc_ht=scontent.fbkk12-2.fna&oh=96636c40577e051798bef5ac5c7d4404&oe=5E68D64D">
      </div>
      <ul _ngcontent-vuo-c3="" class="navbar-nav">
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/caregiver-home">Home <span _ngcontent-vuo-c3="" class="sr-only">(current)</span></a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/caregiver-profile">Profile</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/requests">Requests</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/services', email]"routerLinkActive="router-link-active">Services</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item active"><a _ngcontent-vuo-c3="" class="nav-link" [routerLink]="['/calendar', email]"routerLinkActive="router-link-active">Schedule</a></li>
          <li _ngcontent-vuo-c3="" class="nav-item"><a _ngcontent-vuo-c3="" class="nav-link" routerLink="/home">Logout</a></li>
      </ul>
  </div>
</nav>
<div class="container text-center pt-5">
  <h1>Select Avaible Date Range</h1>
  <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
  </ngb-datepicker>

  <ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>

<br>

  <!-- <pre>From: {{ fromDate | json }}</pre>
  <pre>To: {{ toDate | json }} </pre> -->
  <button class="btn btn-success mb-5 mt-5" (click)="save()">Add Date</button>
</div>

<div class="container" *ngFor="let item of availabilityString; let i = index">
  <div class="card mb-3 mx-auto" style="width: 18rem;">
      <div class="card-body" *ngIf="item !== null">
      <h5 class="card-title">No. {{i+1}}</h5>
      <p class="card-text">
        Start Date: <b>{{item.startDate}}</b>
        <br>
        Stop Date: <b>{{item.stopDate}}</b>
      </p>
      <button class="btn" id="cancel" (click)="remove(i)">Remove</button>
    </div>
    <div class="card-body" *ngIf="item === null">
      <h5 class="card-title">No. {{i+1}} Deleted</h5>
    </div>
  </div>
</div>

