<div class="container-login100"
  style="background-image: url(https://lh3.googleusercontent.com/BQxtjYhy7KR9z5eCpQNfpMtnuEAvtdXjcJQKQeh0NwMvFYecizlhdnTcBVoqGXVeodLAcjs8wjsNqMPnE6-Q7RsdbH0tDMD0-UmWodrFfvZsDpeohCij7K9Rvd87-Yyenl-LQhDIuAMIoqVZo_VmxIxd1K-G6mZ7hinGwvJAqfKg0rkUq1KpbyBQ784DeBaZQS0GZ2fJOp7h1BprE969lMKajJsc6ajuQt85eIu_pVJkemqfIe_f6d0Tg5puTJWv5OQ6yf1Bo0tBNvItlX9AlvNsEOLTN87JlOvoYD8SvEjPkQU3jhP7EyerOi2XjAHYFBoZ6eDaLmFtvOjoutH3-F2om4UPdjuZK9MhKAZ707n9hUWY3WGjiSCg8bwi4zeWTDTB_YJTD5DjNVo_aO5NQgRg2D1kskYg7tguSva0HfWfXMZc9ehb0Yh4I1m9niCs8b0aZNxd99qJI4DbrhunVESqeGqaVN6MLZxMlASqkgIwcc8SIgs_jtCzZIJQHUFXbKW54-bx7UkPkiSVGcpYASXNpNa9pzeYX_5OZO0s3Skp-MVOE3gbhFLdanz3De5F_AdkyERL5bWesikl0GpPMgT1YmKiE1WoALzm1qLjw9WYTTK4eRpUMEZnE44UeODzkJRJJiV5Z2uHASn9bDXLdpRib8-0rugZ1i6O-v169Zcw58JX1i5wbUg-pybsdg=w1038-h692-no?authuser=0);">
  <div class="wrap-login100 col-10 col-md-6">
    <div class="justify-content-center">
      <div *ngIf="isLoading">
        <h1 class="login-form-title">Logging In</h1>
        <mat-spinner></mat-spinner>
      </div>
      <form (submit)="onLogin(loginForm)" ngForm #loginForm="ngForm" *ngIf="!isLoading">
        <span class="login-form-title">ELDER LOGIN</span>
        <div class="form-group alert alert-danger" role="alert" *ngIf="showErrorMessage === true">
          Email or password is incorrect!
        </div>
        <div class="form-group">
          <input name="email" ngModel #emailInput="ngModel" required email type="email" class="form-control"
            placeholder="Email" id="email" (focus)="hideErrorMessage()">
        </div>
        <div class="form-group">
          <input name="password" ngModel #passwordInput="ngModel" required type="password" class="form-control"
            placeholder="Password" (focus)="hideErrorMessage()">
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn btn-success">LOGIN</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <button type="submit" class="btn" id="cancel" routerLink='/'>CANCEL</button>
        </div>
        <div class="form-group container-login100-form-btn">
          <a href="" id="forgot-password" routerLink="/forgot-password">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="col-10 col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="text-center">
          <span class="login-form-title">ELDER LOGIN</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="mail@example.com">
        </mat-form-field>
        <br>
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button class="btn-success mr-3">LOGIN</button>
        <button class="mb-3" id="cancel">CANCEL</button>
        <br>
        <a href="" id="forgot-password">Forgot password?</a>
      </mat-card-actions>
    </mat-card>
  </div>

</div> -->
