<div id="home" style="background-image: url()">

  <div class="container text-center">
    <h1 class="display-4">Home care service for seniors</h1>
    <p class="lead">See how In-home senior care is better </p>

    <h3 *ngIf="user === null">Are you an Elder or Caregiver?</h3>

    <div class="row pt-5">
      <!-- buttons for caregivers -->
      <div class="col-md-6" *ngIf="user === null || user === 'elder'">
        <h1>.</h1>
        <p>.</p>
        <button class="btn btn-primary" (click)='caregiver()'>CAREGIVER</button>
      </div>
      <div class="col-md-6" *ngIf="user === 'caregiver'">
        <h1>{{caregiverNumber}}</h1>
        <p>Currently, {{caregiverNumber}} caregivers join us!</p>
        <button class="btn btn-primary" type="submit" routerLink="/caregiver-register" routerLinkActive="active">SIGN UP</button>
        <br>
        <p class="pt-5">You already have an account?</p>
        <button class="btn btn-primary" type="submit" routerLink="/caregiver-login" routerLinkActive="active">LOGIN</button>
      </div>
      <!-- buttons for elders -->
      <div class="col-md-6" *ngIf="user === null || user === 'caregiver'">
        <h1>.</h1>
        <p>.</p>
        <button class="btn btn-success" (click)='elder()'>ELDER</button>
      </div>
      <div class="col-md-6" *ngIf="user === 'elder'">
        <h1>{{elderNumber}}</h1>
        <p>{{elderNumber}} elders are getting helps from us!</p>
        <button class="btn btn-success" type="submit" routerLink="/elder-register" routerLinkActive="active">SIGNUP</button>
        <p class="pt-5">You already have an account?</p>
        <button class="btn btn-success" type="submit" routerLink="/elder-login" routerLinkActive="active">LOGIN</button>
      </div>

    </div>
    <div>

    </div>
  </div>


</div>
