<div id="home" style="background-image: url(https://lh3.googleusercontent.com/nUOGmgacUj-Ghz6S42Im7szTrtlBr5Fq8myp4pp3xvlMvqbnX47Iw5VKLNvJ-eA8bqJogGchid2YQwfsAGmAcRB9fZfbfkJ4PTFV1LFfoRfGAx6_4rXagOkx-oURCiTw8qjtlTvnxlQhWYUsJGHUxpV0IXGRntB8V3P6Dislsc9asXUMynhFAtGOX2DrpDyceIN1fosV50fu1s3isl9eAAC3zmdehQ0Aq7lWqwn5ZlqlJ4EMC-Y3D4MMjlCcjz3j4EglApl9dVJSKsRudHO8T8dSur9RmffOE8XMhhjDmyv87N8SCkb0p79XXq0V4_jqWhsxsLJt63ooN8cTFR1ggMd4iDO-HZI6D2gnl09MvrJ8UfCs7u7CElB5jTj3W50L3W_0o88j8jVNFTqJtsPV5x-lGXMaANB2bZd7VvizMRRXoK8cnR_ioYR0Lk7Ndwm0Url0aB6qlvZbL5M2gu9s3KZyf5OBVgGrBOMm6uWGylBguzYSo5fKdBQ-BWlwIn8VNSPbMyVD78zSu6-ODgLWmSwhTVPGsnFBdWGz-ME0hZpTT968vozxGAf3yXkVRJ1dUSK5JzCMKKGtoPzCtdAZZunLRCmiJI_WscpjzU57WRi1gBLhszV7_FwNKwYHWS5hnA12Ghm3m-tJyTP42OqNNW2xQLCMsOVyrMY9BRGbSrwXRWwMKotZOmOMkOj6jA=w712-h472-no?authuser=0)">

  <div class="container text-center">
    <h1 class="display-4">Home care service for seniors</h1>
    <p class="lead">See how In-home senior care is better </p>

    <h3 *ngIf="user === null">Are you an Elder or Caregiver?</h3>

    <div class="row pt-5">
      <!-- buttons for caregivers -->
      <div class="col-md-6" *ngIf="user === null || user === 'elder'">
        <h1>.</h1>
        <p>.</p>
        <button class="btn btn-primary" (click)='caregiver()'>CAREGIVER</button>
      </div>
      <div class="col-md-6" *ngIf="user === 'caregiver'">
        <h1>{{caregiverNumber}}</h1>
        <p>Currently, {{caregiverNumber}} caregivers join us!</p>
        <button class="btn btn-primary" type="submit" routerLink="/caregiver-register" routerLinkActive="active">SIGN UP</button>
        <br>
        <p class="pt-5">You already have an account?</p>
        <button class="btn btn-primary" type="submit" routerLink="/caregiver-login" routerLinkActive="active">LOGIN</button>
      </div>
      <!-- buttons for elders -->
      <div class="col-md-6" *ngIf="user === null || user === 'caregiver'">
        <h1>.</h1>
        <p>.</p>
        <button class="btn btn-success" (click)='elder()'>ELDER</button>
      </div>
      <div class="col-md-6" *ngIf="user === 'elder'">
        <h1>{{elderNumber}}</h1>
        <p>{{elderNumber}} elders are getting helps from us!</p>
        <button class="btn btn-success" type="submit" routerLink="/elder-register" routerLinkActive="active">SIGNUP</button>
        <p class="pt-5">You already have an account?</p>
        <button class="btn btn-success" type="submit" routerLink="/elder-login" routerLinkActive="active">LOGIN</button>
      </div>

    </div>
    <div>

    </div>
  </div>


</div>
